@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #f1eee6;
  --text-primary: #4e3e3b;
  --text-secondary: #8a7f7c;
  --accent: #b29792;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

@media (max-width: 1024px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  section {
    overflow-x: hidden;
  }
}
